<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <header class="header-login">
        <div class="logo">
            <a>
                <img src="/resources/img/logo.png" alt="Logo UCSC">
            </a>
        </div>
    </header>
    <h1>dashbord</h1>
    
    <% if (login) { %>
        <a href="/logout" class="a-logout">cerrar sesion</a>
    <% } %>
       
    

    
    <button>
        <a href="/formulario">crea formulario</a>
    </button>
</body>
</html>