<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/">
                <img  src="/public/img/logo.ucsc.png" alt="logo UCSC">
            </a>
        </div>

        <div class="header-login">
            <a href="login.ejs">Inicia Sesión</a>
        </div>
    </header>
    <main>
        <h1>este sera la pagina principal eso si aun no lleva nada</h1>
    </main>
</body>
</html>